PORT=8787
DATABASE_PATH=./data/volunteer-board.sqlite
PUBLIC_BASE_URL=http://localhost:8787

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=+19704708839
TWILIO_MESSAGING_SERVICE_SID=

ADMIN_API_TOKEN=
