NODE_ENV=production
PORT=8787
DATABASE_PATH=C:/ProgramData/HermesVolunteerBoard/data/volunteer-board.sqlite
PUBLIC_BASE_URL=https://falloutshelter.tail2ec319.ts.net:10000
LOG_PATH=C:/ProgramData/HermesVolunteerBoard/logs
BACKUP_PATH=C:/ProgramData/HermesVolunteerBoard/backups
PID_FILE=C:/ProgramData/HermesVolunteerBoard/data/app.pid
STOP_FILE=C:/ProgramData/HermesVolunteerBoard/data/app.stop
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=+19704708839
TWILIO_MESSAGING_SERVICE_SID=MGb165306bfff817d4939ddb20604cde4a
ADMIN_API_TOKEN=
